// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.comment-wrapper{
    background-color: white;
    border-radius: 2%;
    width:94vw;
    margin-left:1.5vw;
    margin-right:1.5vw;
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
}